.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.box {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  position: relative;
  display: flex;
}

.box.circle:before {
  content: "O";
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.box.cross:before {
  content: "X";
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
}
